---
import MetaPage from "@/components/MetaPage.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <MetaPage slot="head" />
  <dictionary-entry>
    <h1>Do Trade!</h1>
    <etymology-span>
      Best Trade,Trading beter
    </etymology-span>
    <hr>
    <prose-content>
      <img src='/gugugaga.gif'>
    </prose-content>
  </dictionary-entry>
</Layout>

<style>
  dictionary-entry {
    display: block;
    font-size: var(--step-0);
    color: var(--muted-foreground);

    @media (width >= 64rem) {
      margin-block-start: -0.2em;
    }

    ipa-span {
      opacity: 0.6;
    }

    h1 {
      font-size: var(--step-2);
      line-height: calc(var(--leading-offset) + 1em);
      font-weight: var(--font-weight-medium);
      color: var(--foreground);
      margin-block-end: var(--space-2xs);
    }

    ol {
      margin-block-start: var(--space-xs);
      list-style: none;

      li {
        padding-inline-start: 1em;
        text-indent: -1em;

        &::before {
          content: counter(list-item);
          display: inline-block;
          inline-size: 1em;
          text-indent: 0;
          font-weight: var(--font-weight-medium);
        }

        + li {
          margin-block-start: var(--space-3xs);
        }
      }
    }

    hr {
      margin-block: var(--space-m);
      border-block-start: 2px solid var(--border);
    }

    prose-content {
      margin-block-start: var(--space-xs);
    }
  }
</style>
